<p id="notice"><%= notice %></p>

<div class="card col-md-4 offset-md-4">
  <div class="card-body img-thumbnail">
    <%= image_tag @pin.image.url(:medium) %><br/>
  </div>
  <div class="card-body center">
    <%= @pin.description %><br/>
    <br/><strong>Autor: <%= @pin.user.name %></strong><br/>
  </div>


  <div class="card-footer buttons-center">
    <%= link_to 'Cofnij', pins_path, class: "btn btn-primary" %>
    <% if @pin.user == current_user %>
      <%= link_to 'Edytuj', edit_pin_path(@pin), class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
